<div id="homeCarsouel" class="carousel  slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
        <div class="position-relative homeHeading">
            <div>
                <img src="../../../assets/images/HomeHeading/h1-slide1.jpg" alt="slide Image in" class="w-100">
            </div>
            <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center headingInfo">
                <div>
                    <h6 class="textDark fs-sm d-flex flex-column ps-2 mb-0 lh-title borderLeft">
                        <span>Lamps</span>
                        <span>2019</span>
                    </h6>
                    <h1 class="fw-bold display-3 pt-5">ETNA</h1>
                    <p class="d-flex align-items-center  mb-4 pb-2"><span class="text-muted fs-sm">From</span><span class=" ms-1 pt-1 text-dark h5">$650.00</span></p>
                    <a class="secondaryBtn text-decoration-none fs-sm" routerLink="/shop/categories/11/Lamps">Shop Now</a>     
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
            <div class="position-relative homeHeading">
            <div>
                <img src="../../../assets/images/HomeHeading/h1-slide2.jpg" alt="slide Image in" class="w-100">
            </div>
            <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center headingInfo">
                <div>
                    <h6 class="textDark fs-sm d-flex flex-column ps-2 mb-0 lh-title borderLeft">
                        <span>Furnitures</span>
                        <span>2019</span>
                    </h6>
                    <h1 class="fw-bold display-3 pt-5">Charis</h1>
                    <p class="d-flex align-items-center  mb-4 pb-2"><span class="text-muted fs-sm">From</span><span class=" ms-1 pt-1 text-dark h5">$1750.00</span></p>
                    <a class="secondaryBtn text-decoration-none fs-sm" routerLink="/shop/categories/13/Furnitures">Shop Now</a>     
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
            <div class="position-relative homeHeading">
            <div>
                <img src="../../../assets/images/HomeHeading/h1-slide3.jpg" alt="slide Image in" class="w-100">
            </div>
            <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center headingInfo">
                <div>
                    <h6 class="textDark fs-sm d-flex flex-column ps-2 mb-0 lh-title borderLeft">
                        <span>Lighting</span>
                        <span>2019</span>
                    </h6>
                    <h1 class="fw-bold display-3 pt-5">Uoka</h1>
                    <p class="d-flex align-items-center  mb-4 pb-2"><span class="text-muted fs-sm">From</span><span class=" ms-1 pt-1 text-dark h5">$940.00</span></p>
                    <a class="secondaryBtn text-decoration-none fs-sm" routerLink="/shop/12/Lighting">Shop Now</a>     
                </div>
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarsouel" data-bs-slide="prev">
    <i class="fa-solid fa-chevron-left fa-1x text-muted bg-white p-4"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarsouel" data-bs-slide="next">
      <i class="fa-solid fa-chevron-right fa-1x text-muted bg-white p-4"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>





