@import '../../styles.scss';
$footerGray:#DDDDDD;
$socialColor:#666;
.footerMail{
    border-bottom:2px solid $linkBorderColor;
    &:hover{
        color:$linkBorderColor;
    }
}

 .footer .dropdown-menu{
    padding-top:1rem;
    border-radius: 0px;
    border:none;
    .dropdown-item{
        font-size: 14px;
        font-weight: 300;
        color:$linkColor;
        padding-left: .2rem;
        padding-top:.4rem; 
        padding-bottom:.4rem;
        &:hover,&.active{
            color:$btnColor;
            background-color: transparent;
        }
    }
}
.static{
    position: static;
    display: block;
}

.setPro{
         border-bottom:1.5px solid $footerGray !important;
        border-radius: 0;
}
.news {
    .form-control{
        border:none;
        font-size: light;
        color:$linkColor;
        background-color: transparent ;
        @extend .setPro;
        &:focus{
            box-shadow: none;
            border-color: $btnColor !important;
        }
        &::placeholder{
            @extend .fs-sm;
        }
     }
    .btn{
            border:none;
            @extend .setPro;
            &:hover{
                border-color: $btnColor !important;
                color:$btnColor;
            }
     }
    .form-check-input{
        &:checked{
                background-image: url('../../assets/images/done.png');
                border-color:$linkColor;
                background-color: transparent;
        }
        &:focus{
            box-shadow: none !important;
            border-color:$linkColor;
        }
    } 
 
}
.socials a{
    color:$socialColor;
    &:hover{
        color:$btnColor;
        transform: scale(1.2);
    }
}
.copyRights{
    border-top:1px solid $footerGray;
    i{
        color:#666;
        font-size: 1.5rem;
        padding: 0 .5rem;
    }
}
@media screen and (min-width:768px){
    .arrowIcon{
        display: none;
    }
    .dropdown-menu{
        display: block;
        transform: translate3d(0px, 0px, 0px) !important;
    }
}