@import '../../../styles.scss';
.static{
    position: static;
    display: block;
}
.filter{
    position: fixed;
    top:0px;
    transform: translateX(110%);
    width: 90%;
    min-height:100vh;
    z-index:100000;
    background-color: #fff;
    border:1px solid $borderColor;
    .dropdown-item{
        width: auto;
        padding-right:0;
        div{
            width: fit-content;
        }
    }
}
.moveFilter{
      transform: translateX(10%);  
}
.clearFilter{
    background-color: #E0E1E1;
}

.colorPlate{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin:.5rem;
    outline: 1px solid $linkColor;
    outline-offset: 1px;
}
.selectecColor{
        outline: 5px solid $borderColor;
}

@media screen and (min-width:768px) {
    .filter{
        position: static;
        transform: translateX(0%);
        width: auto;
        min-height:auto;
        background-color: #fff;
    }
}