@import '../../../styles.scss';
.static{
    position: static;
    display: block;
}
.filter{
    border:1px solid $borderColor;
    .dropdown-item{
        width: auto;
        padding-right:0;
        div{
            width: fit-content;
        }
    }
}
.clearFilter{
    background-color: #E0E1E1;
}
.borderBottom{
    border-bottom: 1px solid $borderColor;
}
.colorPlate{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin:.5rem;
    outline: 1px solid $linkColor;
    outline-offset: 1px;
}
.selectecColor{
        outline: 5px solid $borderColor;
}