<div [ngClass]="['filter p-4' , moveFilterMenu ? 'moveFilter':'']">
    <h5 class="mb-3 d-none d-md-block">Filter By</h5>
    <div class="d-flex flex-column justify-content-between">
        <div>
         <div *ngIf="filterSelection.length > 0" class="mb-3">
        <h6 class="d-flex mb-0 align-items-center clearFilter p-2  justify-content-between" *ngIf="filterSelection[0] != '0$ - 1000$' || filterSelection.length > 1">
            <span class="fw-light small">Clear Filters</span>
            <span><i class="fa-solid textDark small fa-eraser" (click)="clearFilter()"></i></span>
        </h6>
        <div class="bgGray p-2 pb-0" *ngIf="filterSelection[0] != '0$ - 1000$' || filterSelection.length > 1">
           <div *ngFor="let selection of filterSelection" >
                <div *ngIf="selection != '0$ - 1000$' " class="d-flex justify-content-between align-items-center mb-2">
                <span class="fw-light small">{{selection}}</span>
                <i class="fa-solid fa-xmark" (click)="clearCheckField($event)"></i>
                </div>
           </div>
        </div>
    </div>
       <div class="dropdown borderBottom" >
                  <a class="nav-link dropdown-toggle d-flex  pb-3 justify-content-between align-items-center" role="button" (click)="handleOpenClick($event,productsMenu)" data-bs-toggle="dropdownProducts" aria-expanded="false">
                        <span>Categories</span>
                        <i class="fa-solid fa-angle-down  mt-2 ms-lg-2 fa-sm arrowIcon"></i>
                        <i class="fa-solid fa-angle-up  mt-2 ms-lg-2 fa-sm arrowIcon d-none" ></i>
                  </a>
                 <ul class="dropdown-menu border-0" #productsMenu>
                        <div *ngFor="let mainCategory of mainCategories">
                             <li *ngFor="let category of mainCategory.categories">
                                <div *ngIf="category['noOfProducts'] !== undefined && category['noOfProducts'] > 0" class="position-relative"> 
                                    <a class="dropdown-item" title="category.name">
                                    <div class="form-check">
                                    <input class="form-check-input"  type="checkbox" (change)="handleCategorySelect($event)" [name]="category.name.split(' ').join('_')" [value]="category.name.split(' ').join('_')" [id]="category.name.split(' ').join('_')">
                                    <label class="form-check-label fs-sm textGray" [for]="category.name.split(' ').join('_')">
                                    <span>{{category.name}}</span>
                                    <span class="ms-1 fs-xs text-muted">({{category['noOfProducts']}})</span>
                                    </label>
                                    </div>
                                </a>
                                 <div *ngIf="category.subCategories !== undefined && category.subCategories.length >0" class="">
                                     <span class="textDark ms-1 pb-2 position-absolute top-0 end-0 pt-1" (click)="showSubCategories($event)">
                                        <i class="fa-solid fa-plus fs-sm"></i>
                                    </span>
                                     <div class="ms-5 d-none" >
                                        <div class="form-check" *ngFor="let subCat of category.subCategories">
                                            <input class="form-check-input" type="checkbox" (change)="handleCategorySelect($event)" [value]="subCat.name.split(' ').join('_')" [id]="subCat.name.split(' ').join('_')">
                                            <label class="form-check-label fs-sm textGray" [for]="subCat.name.split(' ').join('_')">
                                            <span>{{subCat.name}}</span>
                                            <span class="ms-1 fs-xs text-muted">({{subCat['noOfProducts']}})</span>
                                            </label>
                                          </div>
                                     </div>
                                 </div>
                                </div>
                            </li>
                        </div>
                  </ul>
       </div>
        <div class="dropdown borderBottom" >
                  <a class="nav-link dropdown-toggle d-flex  py-3 justify-content-between align-items-center" role="button" (click)="handleOpenClick($event,PriceMenu)" data-bs-toggle="dropdownPrice" aria-expanded="false">
                        <span>Price</span>
                        <i class="fa-solid fa-angle-down  mt-2 ms-lg-2 fa-sm arrowIcon"></i>
                        <i class="fa-solid fa-angle-up  mt-2 ms-lg-2 fa-sm arrowIcon d-none"></i>
                  </a>
                 <div class="dropdown-menu border-0 price" #PriceMenu>
                      <div class="range" id="Price">
                        <input type="range" class="form-range" min="0" max="1000" [value]="minPrice"  (change)="priceChange($event,'min')" step='1' id="priceMax"  />
                        <input type="range" class="form-range" min="0" max="1000" [value]="maxPrice"  (change)="priceChange($event,'max')" step='1' id="PriceMin"  />
                      </div>
                      <div class="textGray fs-sm fw-light d-flex justify-content-between align-items-center">
                        <span >{{minPrice}}$</span>
                        <span >{{maxPrice}}$</span>
                      </div>
                  </div>
       </div>
        <div class="dropdown borderBottom" >
                  <a class="nav-link dropdown-toggle d-flex  py-3 justify-content-between align-items-center" role="button" (click)="handleOpenClick($event,ManufacturersMenu)" data-bs-toggle="dropdownManufacturers" aria-expanded="false">
                        <span>Manufacturers</span>
                        <i class="fa-solid fa-angle-down  mt-2 ms-lg-2 fa-sm arrowIcon"></i>
                        <i class="fa-solid fa-angle-up  mt-2 ms-lg-2 fa-sm arrowIcon d-none" ></i>
                  </a>
                 <ul class="dropdown-menu border-0" #ManufacturersMenu>
                             <li *ngFor="let manufacturer of Manufacturers">
                                <div *ngIf="manufacturer['noOfProducts']!==undefined && manufacturer['noOfProducts'] > 0" class="position-relative"> 
                                    <a class="dropdown-item" title="category.name">
                                        <div class="form-check">
                                        <input class="form-check-input"  type="checkbox" (change)="handleCategorySelect($event)" [name]="manufacturer.name.split(' ').join('_')" [value]="manufacturer.name.split(' ').join('_')" [id]="manufacturer.name.split(' ').join('_')">
                                        <label class="form-check-label fs-sm textGray" [for]="manufacturer.name.split(' ').join('_')">
                                        <span>{{manufacturer.name}}</span>
                                        <span class="ms-1 fs-xs text-muted">({{manufacturer['noOfProducts']}})</span>
                                        </label>
                                        </div>
                                   </a>
                                </div>
                            </li>
                  </ul>
       </div>
        <div class="dropdown borderBottom" >
                  <a class="nav-link dropdown-toggle d-flex  py-3 justify-content-between align-items-center" role="button" (click)="handleOpenClick($event,sizeMenu)" data-bs-toggle="dropdownsize" aria-expanded="false">
                        <span>Size</span>
                        <i class="fa-solid fa-angle-down  mt-2 ms-lg-2 fa-sm arrowIcon"></i>
                        <i class="fa-solid fa-angle-up  mt-2 ms-lg-2 fa-sm arrowIcon d-none" ></i>
                  </a>
                 <ul class="dropdown-menu border-0" #sizeMenu>
                             <li *ngFor="let size of sizes">
                                <div *ngIf="size['noOfProducts'] > 0" class="position-relative"> 
                                    <a class="dropdown-item" title="category.name">
                                        <div class="form-check">
                                        <input class="form-check-input"  type="checkbox" (change)="handleCategorySelect($event)" [name]="size.name.split(' ').join('_')" [value]="size.name.split(' ').join('_')" [id]="size.name.split(' ').join('_')">
                                        <label class="form-check-label fs-sm textGray" [for]="size.name.split(' ').join('_')">
                                        <span>{{size.name}}</span>
                                        <span class="ms-1 fs-xs text-muted">({{size['noOfProducts']}})</span>
                                        </label>
                                        </div>
                                   </a>
                                </div>
                            </li>
                  </ul>
       </div>
       <div class="dropdown borderBottom" >
                  <a class="nav-link dropdown-toggle d-flex  py-3 justify-content-between align-items-center" role="button" (click)="handleOpenClick($event,colorMenu)" data-bs-toggle="dropdownColor" aria-expanded="false">
                        <span>Color</span>
                        <i class="fa-solid fa-angle-down  mt-2 ms-lg-2 fa-sm arrowIcon"></i>
                        <i class="fa-solid fa-angle-up  mt-2 ms-lg-2 fa-sm arrowIcon d-none" ></i>
                  </a>
                 <div class="dropdown-menu border-0" #colorMenu>
                        <span (click)="handleColorSelect($event,color.name)" [id]="color.name" class='colorPlate' *ngFor="let color of colors" [style.backgroundColor]="color.value"></span> 
                  </div>
       </div>
        <div class="form-check borderBottom py-3">
                    <input class="form-check-input"  type="checkbox" (change)="handleCategorySelect($event)" name="newProducts"  value="newProducts"  id="newProducts">
                    <label class="form-check-label fs-sm textGray" for="newProducts">
                        <span>New Products</span>
                        <span class="ms-1 fs-xs text-muted">(10)</span>
                    </label>
      </div>
       <div class="form-check borderBottom py-3">
                    <input class="form-check-input"  type="checkbox" (change)="handleCategorySelect($event)" name="Discounts"  value="Discounts"  id="Discounts">
                    <label class="form-check-label fs-sm textGray" for="Discounts">
                        <span>Discounts</span>
                        <span class="ms-1 fs-xs text-muted">(20)</span>
                    </label>
      </div>
        </div>
        <div class="d-md-none text-center pt-5">
            <button class="darkBtn px-4 py-2 fs-sm" (click)="viewProductsClick()">View Products(10)</button>
        </div>
    </div>

</div>