@import "../../../styles.scss";
.LoginForm{
    width:95%;
    margin-left:auto;
    margin-right: auto;
    .password{
        width:94%;
    }
    .passwordIcon{
        color:#ccc;
        &:hover{
            color:#212121;
        }
    }
    .fs-xxs{
        font-size: .8rem;
        color:#242424;
        font-weight: 300;
        &:hover{
            color:$btnColor;
        }
    }
    .form-control{
        font-weight: 300;
        &:focus{
            box-shadow: none;
            border-color:#53D1F8;
        }
    }
    .socialBtn{

    }
    .facebookBtn{
        background-color: #4C68A2;
    } 
    .googleBtn{
        background-color: #4285F4;
    }
    .twitterBtn{
        background-color: #53D1F8;
    }
}

@media screen and (min-width:768px) {
    .LoginForm{
    width:75%;
}   
}


@media screen and (min-width:992px) {
    .LoginForm{
    width:50%;
}   
}