<app-page-header [paths]="paths"></app-page-header>
<div class="parent">
    <h2 class=" text-center fw-semibold mt-5 mb-4">Forget Your Password?</h2>
    <p class=" px-5 forgetMessage text-center text-md-start text-muted fw-light">
        Please enter the email address you used to register. You will receive a temporary link to reset your password.
    </p>
    <div class="my-5 forgrtForm">
        <div class="mb-3 row">
            <div class="col-md-2 mb-0 pb-0 align-self-center">
                <div class="text-md-end ps-2 mt-1">
                    <label for="email" class="form-label fs-sm text-muted fw-light">Email Address</label>
                </div>
            </div>
            <div class="col-md-6 col-xl-7">
                <div class="ps-2">
                    <input type="email" class="form-control rounded-0" id="email" name="email">
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="mt-4 mt-md-0 text-center text-md-start">
                    <button class="darkBtn fw-light py-2 py-md-1">Send Reset Link</button>
                </div>
            </div>
        </div>
    </div>
    <p class=" px-5 text-md-start text-center fs-sm text-muted">
             <i class="fa-solid fa-arrow-left me-3"></i>
             <a class="text-decoration-none text-reset" routerLink="/auth/login">Back to login</a>
    </p>
</div>