    @import "../../../styles.scss";
    .forgetMessage{
        font-size: .8rem;
    }
    .forgrtForm{
        width:95%;
        margin-left:auto;
        margin-right: auto;
    }

@media screen and (min-width:992px) {
    .forgrtForm{
        width:75%;

    }
}
