<app-page-header [paths]="paths"></app-page-header>
<div class="parent">
    <div class="my-5 registerForm">
       <h2 class=" text-center mb-3 fw-semibold">Create an account</h2>
        <p class="text-center mt-3 fs-xxs">
            <span class="text-muted me-2">Already have an account?</span>
            <a class="text-decoration-none text-reset" routerLink="/auth/login">Log in instead!</a>
        </p>
        <div class="alert alert-warning py-2 fs-sm text-center" *ngIf="existedUser">User is already Registered.</div>
       <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
         <div class="mb-3">
            <label for="" class="form-label fs-sm text-muted fw-light">Social Title</label>
            <div class="d-flex align-items-center">
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio"  formControlName="gender" id="male" checked value="male">
                    <label class="form-check-label fs-sm text-muted fw-light" for="male" >
                        Mr
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="gender" id="female"  value="female">
                    <label class="form-check-label fs-sm text-muted fw-light" for="female">
                        Mrs
                    </label>
                </div>
            </div>
            <div *ngIf="registerForm.touched || displayError" class="fs-sm">
                <small *ngIf="registerForm.get('gender')?.getError('required')" class="text-danger fs-sm fw-light mt-2">You must choose one.</small>
            </div>
         </div>
         <div class="mb-3">
            <label for="fname" class="form-label fs-sm text-muted fw-light">First Name</label>
            <input type="text" class="form-control rounded-0" id="fname" formControlName="fname">
            <div *ngIf="registerForm.get('fname')?.touched || displayError" class="fs-sm">
                <small *ngIf="registerForm.get('fname')?.getError('required')" class="text-danger fs-sm fw-light mt-2">Can't be Empty</small>
                <small *ngIf="registerForm.get('fname')?.getError('minlength')" class="text-danger fs-sm fw-light mt-2">Min Length should be 3</small>
                <small *ngIf="registerForm.get('fname')?.getError('maxlength')" class="text-danger fs-sm fw-light mt-2">Max Length should be 15</small>

            </div>
        </div>
         <div class="mb-3">
            <label for="lname" class="form-label fs-sm text-muted fw-light">Last Name</label>
            <input type="text" class="form-control rounded-0" id="lname" formControlName="lname">
            <div *ngIf="registerForm.get('lname')?.touched || displayError" class="fs-sm">
                <small *ngIf="registerForm.get('lname')?.getError('required')" class="text-danger fs-sm fw-light mt-2">Can't be Empty</small>
                <small *ngIf="registerForm.get('lname')?.getError('minlength')" class="text-danger fs-sm fw-light mt-2">Min Length should be 3</small>
                <small *ngIf="registerForm.get('lname')?.getError('maxlength')" class="text-danger fs-sm fw-light mt-2">Max Length should be 15</small>

            </div>
        </div>
         <div class="mb-3">
            <label for="phone" class="form-label fs-sm text-muted fw-light">Phone Number</label>
            <input type="text" class="form-control rounded-0" id="phone" formControlName="phone">
            <div *ngIf="registerForm.get('phone')?.touched || displayError" class="fs-sm">
                <small *ngIf="registerForm.get('phone')?.getError('required')" class="text-danger fs-sm fw-light mt-2">Can't be Empty</small>
                <small *ngIf="registerForm.get('phone')?.getError('pattern')" class="text-danger fs-sm fw-light mt-2">Invalid Phone Number</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label fs-sm text-muted fw-light">Email</label>
            <input type="email" class="form-control rounded-0" id="email" formControlName="email">
            <div *ngIf="registerForm.get('email')?.touched || displayError" class="fs-sm">
                <small *ngIf="registerForm.get('email')?.getError('required')" class="text-danger fs-sm fw-light mt-2">Can't be Empty</small>
                <small *ngIf="registerForm.get('email')?.getError('email')" class="text-danger fs-sm fw-light mt-2">Invalid Email Format</small>
            </div>
        </div>
        <div class="mb-3">
           <div class="d-flex align-items-center">
                <div class="password">
                        <label for="password" class="form-label  fs-sm text-muted fw-light">Password</label>
                        <input [type]="passwordType" class="form-control rounded-0" id="password" #passwordElement formControlName="password">
                </div>
                <div class="mt-4 pt-2 ms-3">
                <i *ngIf="!visible" class="fa-solid fa-eye-slash passwordIcon" (click)="showPassword()"></i>
                <i *ngIf="visible" class="fa-solid fa-eye passwordIcon" (click)="hidePassword()"></i>
                </div>
           </div>
           <div *ngIf="registerForm.get('password')?.touched || displayError">
                <small *ngIf="registerForm.get('password')?.getError('required')" class="text-danger fs-sm fw-light mt-2">Can't be Empty</small>
                <div *ngIf="registerForm.get('password')?.getError('pattern')" class="text-danger fs-sm fw-light mt-2 d-flex flex-column">
                    <small class="mb-1">Password must be at least 8 characterLength</small>
                    <small class="mb-1">Password must be contains at least one uppercase letter and one Number</small>
                    <small>Password must be contains at leasr one special character</small>
                </div>
          </div>
        </div>
        <div class="mb-3">
            <label for="birthdate" class="form-label fs-sm text-muted fw-light">Birthdate</label>
            <input type="text" class="form-control rounded-0" id="birthdate" formControlName="birthdate" placeholder="MM/DD/YYYY">
             <p class="mt-3 fs-xxs  fw-light d-flex flex-column">
            <span class="text-muted me-2">(E.g.: 05/31/1970)</span>
            <span class="text-muted me-2">Optional</span>
            </p>
        </div>
        <div class="mb-4 px-5">
            <div class="form-check mb-3">
            <input class="form-check-input rounded-0" type="checkbox" value="recevieOffers" id="recevieOffers" formControlName="recevieOffers">
            <label class="form-check-label fs-sm textDark fw-light" for="recevieOffers">
                Receive offers from our partners
            </label>
            </div>
             <div class="form-check">
            <input class="form-check-input  rounded-0" type="checkbox" value="newLetters" id="newLetters" formControlName="newLetters">
            <label class="form-check-label fs-sm textDark fw-light" for="newLetters">
                Sign up for our newsletter            
            </label>
            </div>
             <p class="mt-1 fs-xs textGray fw-light">
                    Stay Updated on all that's new add noteworthy
            </p>
             <div class="form-check">
            <input class="form-check-input  rounded-0" type="checkbox" value="policyAgree" id="policyAgree" formControlName="policyAgree">
            <label class="form-check-label fs-sm textDark fw-light" for="policyAgree">
               I agree to the terms and conditions and the privacy policy
            </label>
            </div>
            <div *ngIf="registerForm.get('policyAgree')?.touched || displayError" class="fs-sm">
                <small *ngIf="registerForm.get('policyAgree')?.getError('required')" class="text-danger fs-sm fw-light mt-2">Must be Selected</small>
            </div>
        </div>
        <div>
            <!-- <button type="submit" class="w-100 darkBtn fw-light py-2" [disabled]="registerForm.invalid">Save</button> -->
            <button type="submit" class="w-100 darkBtn fw-light py-2">Save</button>
        </div>
       </form>
    </div>
</div>