@import '../../../styles.scss';
.shopSideNav{
    border:1px solid $borderColor;
    border-bottom:none;
    .form-check-input{
        width: .7rem;
        height: .7rem;
        background-color: #E5E5E5;
        border-color: #E5E5E5;
         &:checked{
            background-color: $btnColor;
            border-color:$btnColor;
      }
       &:focus{
            box-shadow: none;
      }
    }
     .fa-plus{
       top:-5.5px;
      }

    .pt-7{
        padding-top: .07rem;
    }
    .categoryOption:hover{
        .form-check-input{
             background-color: $btnColor;
            border-color:$btnColor;
        }
        label{
            color:$btnColor;
        }
    }
   
}