<section class="discover pb-5 mb-5 position-relative">
    <div class="h-100">
        <img src="../../../assets/images/DiscoverSection/h1-bn-4.jpg" alt="backgorund Image" class="w-100 h-100 bgImage">
    </div>
    <div class="position-absolute w-100 h-100  d-flex flex-column align-items-center top-0 discoverInfo">
                    <div class="text-center text-lg-start">
                        <h6 class="text-white small d-flex flex-column mx-auto mx-lg-0  my-5 ps-2 py-1 mb-0 lh-title borderLeft">
                            <span class="mb-1">Lighting</span>
                            <span>2019</span>
                        </h6>
                    <div class="py-5">
                            <img src="../../../assets/images/DiscoverSection/home1_image_layout_2.png" alt="image" class="w-100">
                    </div>
                    <a class="mainBtn text-decoration-none small" routerLink="/shop/categories/12/Lighting">Disover Now</a>  
                    </div>
    </div>
</section> 