.discover{
    height:600px;
    .bgImage{
        object-fit: cover;
    }
    .borderLeft{
        border-left:1px solid #fff !important
    }
    h6{
        width: fit-content;
    }
     .discoverInfo{
        right:50%;
        transform: translateX(50%);
    }
}

@media screen and (min-width:992px) {
    .discover{
        .discoverInfo{
        right:10%;
        transform: translateX(0%);
    }
    }
}