<app-page-header [paths]="paths"></app-page-header>
<div class="parent">
    <div class="container-fluid my-5">
        <div class="row gx-5 gy-4">
             <div class="col-md-6">
                <div>
                    <app-product-images-carsouel [imagePath]="product.imagePath"></app-product-images-carsouel>
                </div>
             </div>
             <div class="col-md-6">
                <div>
                    <app-product-info [product]="product" [writeReview]="writeReview"></app-product-info>
                </div>
             </div>
        </div>
    </div>
    <app-product-spex [product]="product" [writeReview]="writeReview"></app-product-spex>
</div>
<div class="review vh-100 d-flex justify-content-center align-items-center d-none position-fixed top-0 start-0 w-100" #review>
    <div class="bg-white p-4">
        <h2>ipvjrepivjn</h2>
    </div>
</div>
