@import '../../../styles.scss';

.trendHead{
    z-index:2;
    .trendNew{
       left:1rem;
    }
    .trendDiscount{
        right:1rem;
    }
}
.carsouelCard:hover{
    .carsouelInfo{
        display: block !important;
    }
}

.iconColor{
    color:$btnColor !important
}
.hoverInfo{
    i{
        border-radius: 50%;
        padding:.7rem .8rem;
        background-color: #fff;;
        margin:0 .3rem;
        color:$linkColor;
        transition: transform .5s;
        &:hover{
            color:#fff;
            background-color: #aaa;
            transform: translateY(-5px);
        }
    }
}
.socialsList{
    position: relative;
    left:-12.5%
}


.productListTitle{
    left:-5%;
    z-index:3;
}
