@import '../../../../styles.scss';
.btnBg{
    background-color: #EFEFEF;
    color:#000;
    border-color:#EFEFEF;
}
  .sizeParent .form-check-input[type=radio]{
        width:40px;
        height:40px;
        border-radius: 0;
        border:none;
    }
     .colorParent .form-check-input[type=radio]{
        width:12px;
        height:12px;
        border-radius: 0;
        border:none;
        outline: 1px solid $borderColor;
        outline-offset: 1px;
    }
     .colorParent .form-check-input:checked[type=radio]{
        background-image: url('../../../../assets/images/done.png');
        box-shadow: none;
    }
    .sizeParent .form-check-input:checked[type=radio]{
        background-image: none;
        background-color: transparent;
        border:1px solid #000;
    }
    .sizeParent label{
        position:absolute;
        top:12px;
        left:12px;
    }