<section class="trending py-5">
    <h2 class=" text-center fw-semibold">Trending This Week</h2>
    <p class="text-muted fs-sm text-center fw-light py-3">
        Find a bright ideal to suit your taste with our great selection of suspension, wall,
        <br/>
        floor and table lights.
    </p>
    <app-carsouel-component [products]="Trending" [customOptions]="customOptions"></app-carsouel-component>
    <div class="text-center">
       <a routerLink="/shop/trending" class="more text-decoration-none text-dark fw-semibold h5">+ See More Products</a>
    </div>
</section>