<section class="trending py-5">
    <h2 class=" text-center fw-semibold">Trending This Week</h2>
    <p class="text-muted fs-sm text-center fw-light py-3">
        Find a bright ideal to suit your taste with our great selection of suspension, wall,
        <br/>
        floor and table lights.
    </p>
    <div class="py-4">
        <owl-carousel-o  [options]="customOptions">
        <ng-container  *ngFor="let slide of Trending">
            <ng-template carouselSlide [id]="(slide.id).toString()">
               <app-product-card [product]="slide"></app-product-card>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    </div>
    <div class="text-center">
       <a routerLink="/shop/trending" class="more text-decoration-none text-dark fw-semibold h5">+ See More Products</a>
    </div>
</section>