@import '../../../../styles.scss';
.productSpex{
    .nav-link{
        border-radius: 0;
        border-left: none;
        color:$textGray;
        text-align: center;
        padding-top:.5rem;
        padding-bottom: .5rem;
        font-size: .8rem;
        font-weight: 500 !important;
        &.active{
           background-color: transparent;
           color:$btnColor;
           border-bottom:2px solid $btnColor;
        }
        &:hover{
            color:$btnColor;
        }
        }
    .nav-pills {
                width: 100%;
            }
   
}

@media screen and (min-width:992px){
    .productSpex{
        border:1px solid $borderColor;
    .nav-link{
        text-align: start;
        border:1px solid $borderColor;
        border-right:none;
        border-left:none;
        padding-left: 2rem;
        padding-top:.8rem;
        padding-bottom: .8rem;
          &:nth-child(1){
            border-top:none;
        }
        &:last-child{
            border-bottom: 1px solid $borderColor;
        }
        &:nth-child(even){
             border-top:none;
             border-bottom:none;    
        }
        &.active{
           background-color: transparent;
           position: relative;
           z-index:10;
           color:$btnColor;
           border-bottom: 1px solid $borderColor;
           right:-1px;
           border-right: 1px solid #fff;
           border-left:3px solid $btnColor;
            &:nth-child(even){
                border-bottom: none;
            }
        }
    }
    .nav-pills {
                width: 30%;
                 border-right: 1px solid $borderColor;
            }
    .tab-content{
                width: 70%;
    }
}
    
}
@media screen and (min-width:1200px){
    .productSpex{
    .nav-pills {
                width: 20%;
            }
    .tab-content{
                width: 80%;
    }
}
    
}