@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

$linkColor:#222222;
$linkBorderColor:#FAD5C1;
$btnColor:#EA7024;
$textGray:#999999;
$borderColor:#E5E4E5;
$starColor:#FFD313;
html{
    font-family: 'Poppins', sans-serif ;
}
body{
    padding: 0;
    margin: 0;
   font-family: inherit;
}
.ls{
    letter-spacing: 2px;
}
.parent{
    width:97%;
    margin: 0 auto;
}
.fs-sm{
    font-size: 13px;
    line-height: 24px;
}
.bgGray{
    background-color: $borderColor;
}

.fs-xs{
    font-size: 11px;
}
.more{
    border-bottom:3px solid $linkBorderColor;
}
.textDark{
    color:$linkColor;
}
.textGray{
    color:$textGray;
}
.textSite{
   color:$btnColor;
}
.bgSite{
    background-color: $btnColor;
}

.dropdown-toggle::after {
            display: none !important;
        }

.secondaryBtn{
    background-color: transparent;
    padding:.8rem 2.5rem;
    border:2px solid $linkColor;
    font-weight: 400;
    color:$linkColor;
    &:hover{
        background-color: $btnColor;
        border-color: $btnColor;
        color:#fff;
    }
}

.mainBtn{
    background-color: transparent;
    padding:.8rem 2.5rem;
    border:2px solid #fff;
    font-weight: 400;
    color:#fff;
    &:hover{
        background-color: $linkColor;
        border-color: $linkColor;
       color:#fff;
    }
}
.darkBtn{
    background-color: $linkColor;
    padding:.8rem 2.5rem;
    border:2px solid $linkColor;
    font-weight: 400;
    color:#fff;
    &:hover{
        background-color: $btnColor;
        border-color: $btnColor;
       color:#fff;
    }
}

.borderBottom{
    border-bottom: 1px solid $borderColor;
}
.productTitle{
    color:$linkColor;
    &:hover{
        color:$btnColor;
    }
}

@media screen and (min-width:992px){
    .parent{
    margin: 0 auto;
}
}