<section class="sideNavItems pt-4">
      <div class="pt-3 mt-lg-1">
        <owl-carousel-o *ngIf="Data.length >2" [options]="customOptions">
            <ng-container  *ngFor="let slide of Data; let even=even ; let index=index ; let last=last;">
                    <ng-template  *ngIf="even" carouselSlide [id]="(slide.id).toString()">
                                    <app-product-card [product]="slide"></app-product-card>
                                    <app-product-card  *ngIf="index+1 <= Data.length-1"[product]="Data[index+1]"></app-product-card>
                    </ng-template>
            </ng-container>
        </owl-carousel-o>
        <owl-carousel-o *ngIf="Data.length ==2 || Data.length ==1" [options]="customOptions">
            <ng-container *ngFor="let slide of Data;">
                    <ng-template  carouselSlide [id]="(slide.id).toString()">
                             <app-product-card [product]="slide"></app-product-card>
                    </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
